.main{
    margin: 1em;
    padding: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {  
    margin: 0;
    padding: 10px ;
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(4, 50px);
    gap: 2px;
    background-color: silver;
}

.front {
    background-color: pink;
}

.back {
    background-color: black;
    color: white;
    text-align: center;
}
/* весь контейнер поддерживает перспективу */
.flip-container {
    perspective: 1000;
    position: relative;
}
    
.flip-container.flip .flipper {
    transform: rotateY(180deg);
}
    
.flip-container, .front, .back {
    width: 50px;
    height: 50px;
}
   
   /* здесь находится скорость перевертывания */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
   
    position: relative;
}
   
   /* скройте обратную сторону во время переворота */
.front, .back {
    backface-visibility: hidden;
   
    position: absolute;
    top: 0;
    left: 0;
}
   
   /* лицевая сторона размещена над обратной */
.front {
    /*z-index: 2;*/
    pointer-events: none;
}    
   
   /* обратная, изначально скрытая сторона */
.back {
    font-size: 3em;
    text-align: center;
    transform: rotateY(180deg);
}

.open {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 3em;
}
