.main {
    margin: 1em;
    padding: 10px;
    /* display: flex; */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.playing-field {
    margin: 10px;
    padding: 10px;
    width: max-content;
    height: max-content;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(4, 80px);
    gap: 5px;


}

.back {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
}

.blur {
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 1;

}

.filter {
    backdrop-filter: blur(20px);
}

.value-cell {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 3em;
    position: absolute;
    text-align: center;
    vertical-align: middle;
}

.unselectable {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    not supported by any browser */
}

section.game-manager {
    margin: 10px;
    padding: 5px;
    width: max-content;
    height: max-content;

}

div.playing-field {
    padding: 5px;
    width: max-content;
    height: max-content;
    background-color: #6c3a13;
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(4, 80px);
    gap: 5px;
}

div.container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}




img.shirt {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    border-radius: 5px;
}

img.shirt.visible {
    z-index: 0;
}

img.value-cell {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}